.panel.panel-primary.chat-panel
  .panel-heading
    %span.glyphicon.glyphicon-comment
    -if friendship.friend == current_user
      = friendship.inverse_friend.name
    -else
      = friendship.friend.name

    .btn-group.pull-right
      %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        %span.glyphicon.glyphicon-chevron-down
      %ul.dropdown-menu.slidedown
        %li
          %a{:href => "http://www.jquery2dotnet.com"}
            %span.glyphicon.glyphicon-refresh>
            Refresh
        %li
          %a{:href => "http://www.jquery2dotnet.com"}
            %span.glyphicon.glyphicon-ok-sign>
            Available
        %li
          %a{:href => "http://www.jquery2dotnet.com"}
            %span.glyphicon.glyphicon-remove>
            Busy
        %li
          %a{:href => "http://www.jquery2dotnet.com"}
            %span.glyphicon.glyphicon-time
            Away
        %li.divider
        %li
          %a{:href => "http://www.jquery2dotnet.com"}
            %span.glyphicon.glyphicon-off
            Sign Out
  .panel-body.chat-panel-body#scrollmessages
    %ul.chat
      %section#messages{"data-channel" => "messages", "data-message-id" => friendship.id}
        - friendship.messages.each do |message|
          = render partial: 'messages/message', locals: { message: message, user: (message.user.id == current_user.id ? 'current-user' : 'other-user') }

  .panel-footer
    = form_for [ friendship, Message.new ], remote: true do |form|
      .input-group
        = form.text_field :content, class: 'form-control input-sm', id: 'btn-input', :placeholder => "Type your message here...", :type => "text"
        %span.input-group-btn
          = form.submit 'Send', class: 'btn btn-warning btn-sm', id: 'btn-chat'
