%tr{data: {href: contact_path(contact)}}
  %td= contact.name
  %td= contact.house_phone
  %td= contact.mobile_phone
  %td= contact.email
  %td= contact.date_of_birth
  %td{:align => "center", :valign => "center"}
    = image_tag contact.avatar.url, class: "img-circle img-responsive table-image"
  %td
    = link_to contact_path(contact), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-hand-right
      = Contact.human_attribute_name(:show)
  %td
    = link_to edit_contact_path(contact), class: 'btn btn-warning' do
      %span.glyphicon.glyphicon-edit
      = Contact.human_attribute_name(:edit)
  %td
    = link_to contact_path(contact), class: 'btn btn-danger', method: :delete, data: { confirm: Contact.human_attribute_name(:sure) } do
      %span.glyphicon.glyphicon-remove
      = Contact.human_attribute_name(:destroy)