%h1= Contact.model_name.human.capitalize
= link_to 'New contact', new_contact_path, class: 'btn btn-primary  glyphicon glyphicon-floppy-disk'
.panel.panel-info.search
  .panel-heading= Contact.human_attribute_name(:Search_contacts)
  .panel-body
    %h1 bla bla
    %input{:name => "info", :type => "text"}
  %ul.list-group.collapse
%table#contacts-table.table.table-hover
  %thead
    %tr
      %th Name
      %th= Contact.human_attribute_name(:house_phone)
      %th= Contact.human_attribute_name(:mobile_phone)
      %th= Contact.human_attribute_name(:email)
      %th= Contact.human_attribute_name(:date_of_birth)
      %th= Contact.human_attribute_name(:avatar)

  %tfoot
    %tr
      %th{colspan: 9}
        = Contact.human_attribute_name(:there)
        = Contact.human_attribute_name(@contacts.count == 1 ? :is : :are).downcase
        = @contacts.count
        #{Contact.model_name.human(count: @contacts.count).downcase}!
  %tbody
    = render @contacts
