.row
  .col-md-12
    .new-contact
      %a.btn.btn-primary{href: new_contact_path}
        %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
        =Contact.human_attribute_name(:new)
%table#contacts-table.table.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th= Contact.human_attribute_name(:house_phone)
      %th= Contact.human_attribute_name(:mobile_phone)
      %th= Contact.human_attribute_name(:email)
      %th= Contact.human_attribute_name(:date_of_birth)
      %th= Contact.human_attribute_name(:avatar)
      %th.actions{colspan: 3}
        = Contact.human_attribute_name(:actions)

  %tfoot
    %tr
      %th{colspan: 9}
        = Contact.human_attribute_name(:there)
        = Contact.human_attribute_name(@contacts.count == 1 ? :is : :are).downcase
        = @contacts.count
        #{Contact.model_name.human(count: @contacts.count).downcase}!
  %tbody
    = render @contacts.order(name: :asc)
