.email-panel
  %button.btn.btn-info{"data-target" => "#email-form", "data-toggle" => "collapse", :type => "button"}
    %span.glyphicon.glyphicon-envelope
    = Contact.human_attribute_name(:send_email).capitalize
  .collapse#email-form
    = render 'email'
= render partial: 'application/profile', locals: {type: @contact}
= link_to contacts_path, class: 'btn btn-primary' do
  = Contact.human_attribute_name(:back).capitalize