%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Contacts
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .header
      %h1
        =Contact.human_attribute_name(:title)
    %nav.navbar-primary.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{:style =>"z-index= 900000", "aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand.btn-lg
            %span.glyphicon.glyphicon-education
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              =link_to Contact.human_attribute_name(:about) , over_index_path
            - if user_signed_in?
              %li
                =link_to "Home", contacts_path
              %li
                =link_to Contact.human_attribute_name(:new), new_contact_path
              %li.dropdown
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", :role => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
                  = User.model_name.human
                  %span.caret
                    %ul.dropdown-menu
                      %li
                        =link_to current_user.email, user_path(current_user)
                      %li
                        =link_to "edit user", edit_user_registration_path(current_user)
                      %li
                        =link_to destroy_user_session_path, :method  => :delete do
                          %span.glyphicon.glyphicon-log-out
                          =User.human_attribute_name(:log_out)
            - else
              %li
                =link_to "Login", new_user_session_path

          .navbar-form.navbar-right{:role => "search"}
            .form-group
              %input#search{:name => "info", :type => "text", placeholder: Contact.human_attribute_name(:search_contacts)}
                .dropdown-menu.collapse#contact-search
    #content-wrapper.container-fluid
      = render_flash
      = yield

